<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-s8ihd8s.Gestion_Ecole.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=DESKTOP-S8IHD8S;Initial Catalog=Gestion_Ecole;User ID=sa;Password=1234567" />
        <add name="mutambala_jacqu.Gestion_Ecole.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=MUTAMBALA_JACQU;Initial Catalog=Gestion_Ecole;User ID=sa;Password=gestion1234" />
        <add name="mutambala_jacqu.Gestion_Ecole1.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=MUTAMBALA_JACQU;Initial Catalog=Gestion_Ecole1;User ID=sa;Password=gestion1234" />
        <add name="Ecole.Properties.Settings.Gestion_Ecole1ConnectionString"
            connectionString="Data Source=MUTAMBALA_JACQU;Initial Catalog=Gestion_Ecole1;User ID=sa;Password=gestion1234"
            providerName="System.Data.SqlClient" />
        <add name="MUTAMBALA_JACQU_Connection" connectionString="XpoProvider=MSSqlServer;data source=MUTAMBALA_JACQU;integrated security=SSPI;initial catalog=Gestion_Ecole1" />
        <add name="MUTAMBALA_JACQU_Gestion_Ecole1_Connection" connectionString="XpoProvider=MSSqlServer;data source=MUTAMBALA_JACQU;integrated security=SSPI;initial catalog=Gestion_Ecole1" />
        <add name="MUTAMBALA_JACQU_Gestion_Ecole1_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=MUTAMBALA_JACQU;integrated security=SSPI;initial catalog=Gestion_Ecole1" />
        <add name="MUTAMBALA_JACQU_Gestion_Ecole1_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=MUTAMBALA_JACQU;integrated security=SSPI;initial catalog=Gestion_Ecole1" />
        <add name="Ecole.Properties.Settings.ecole_bdConnectionString"
            connectionString="Data Source=DESKTOP-213P9CE;Initial Catalog=ecole_bd;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Ecole.Properties.Settings.ecole_bdConnectionString1"
            connectionString="Data Source=DESKTOP-213P9CE;Initial Catalog=ecole_bd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DESKTOP-213P9CE_ecole_bd_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-213P9CE;user id=sa;password=123456;initial catalog=ecole_bd;Persist Security Info=true" />
        <add name="localhost_ecole_bd_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 6" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 7" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 8" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 9" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 10" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 11" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 12" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 13" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 14" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 15" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 16" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 17" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 18" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 19" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 20" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 21" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 22" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 23" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 24" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 25" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 26" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 27" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 28" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 29" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 30" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 31" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 32" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 33" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 34" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 35" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 36" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 37" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 38" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 39" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Connection 40" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd" />
        <add name="localhost_ecole_bd_Zanner_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd_Zanner" />
        <add name="localhost_ecole_bd_Zanner_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ecole_bd_Zanner" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
